@import url(cor.css);
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap'); /*FONTE P*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /*FONTE H**/


/* GERAL */
body {
    margin: 0 1px;
}

/*CABECALHO*/
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    z-index: 1; /* garante que o cabeçalho fique acima do outros elementos*/
    background-color: var(--cor-padrao-site);
    
}

.logo img {
    height: 100px;   
}



/*BOTÕES CABECALHO*/
.home {
    margin: 0 10px;
    padding: 7px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.home:hover {
    background-color: rgb(195, 240, 219);
}


.contato {
    margin: 0 10px;
    padding: 7px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.contato:hover {
    background-color: rgb(195, 240, 219);
}

.btn-cadastro {
    margin-right: 20px;
    margin-left: 10px;
    padding: 7px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.btn-cadastro:hover {
    background-color: rgb(195, 240, 219);
}

.btn-login {
    margin-right: 20px;
    padding: 7px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.btn-login:hover {
    background-color: rgb(195, 240, 219);
}

/* BOTÕES CABEÇALHO APÓS O CADASTRO OU LOGIN */
.btn-conta {
    margin-right: 30px;
    margin-left: 10px;
    padding: 7px 10px;
    border-radius: 10px;
    border: 0;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
    cursor: pointer;
}

.menu-perfil {
    position: relative; /* CRÍTICO: O menu-opcoes se posicionará em relação a ele */
    display: inline-block;
    
}

.menu-perfil-opcoes.active {
    display: block;       
}

.menu-perfil-opcoes {
    display: none; 
    position: absolute; 
    top: 100%; 
    right: 0; 
    margin-top: 7px;
    margin-right: 30px;
    /* Estilos do botões do menu suspenso*/ 
    background-color: rgb(255, 255, 255); 
    min-width: 160px;
    z-index: 9000;
    border-radius: 5px;
    padding: 5px 0;
} /*botao de config no conta*/

.menu-perfil-opcoes a {
    display: block; 
    padding: 15px 25px;
    text-decoration: none;
    font-size: 17px;
    font-family: Oswald, 'Arial';
    letter-spacing: 3px;
    text-align: left;
    color: var(--cor-titulos);
    
}

.menu-perfil-link {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: #333; /* Cor do texto dos links */
    font-size: 0.9em;
} /*botao de sair da conta*/

.menu-perfil-link:hover {
    background-color: rgb(195, 240, 219);
}

/* linha de progresso */
.progresso-container {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 6px;
    background: var(--cor-fundo-linha-progresso);
    
}

#progressoBarra {
    height: 5px;
    background: var(--cor-progresso-barra);
    width: 0%;
    transition: width 0.1s ease-out;  /* adiciona um movimento, uma transição*/
}


/* footer */
footer {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 0;
    padding: 35px 0px;
    background-color: var(--cor-rodape);
    color: white;
    letter-spacing: 1px;
    font-family: Figtree, "Arial";
}

.direitos {
    text-align: center;
}