@import url(cor.css);
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap'); /*FONTE P*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /*FONTE H**/

/* TROUXE O CABEÇALHO AQUI PARA RESOLVER */
/* GERAL */
body {
    margin: 0 1px;
}

/*CABECALHO*/
header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    z-index: 100; /* garante que o cabeçalho fique acima do outros elementos*/
    background-color: var(--cor-padrao-site);
    
}


.logo img {
    height: 100px;   
}

/*BOTÕES CABECALHO*/
.home {
    margin: 0 10px;
    padding: 7px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.home:hover {
    background-color: rgb(195, 240, 219);
}

.sobre {
    margin: 0 10px;
    padding: 7px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.sobre:hover {
    background-color: rgb(195, 240, 219);
}

.contato {
    margin: 0 10px;
    padding: 7px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.contato:hover {
    background-color: rgb(195, 240, 219);
}

.btn-cadastro {
    margin-right: 20px;
    margin-left: 10px;
    padding: 7px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.btn-cadastro:hover {
    background-color: rgb(195, 240, 219);
}

.btn-login {
    margin-right: 20px;
    padding: 7px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.btn-login:hover {
    background-color: rgb(195, 240, 219);
}



/* footer */
footer {
    width: 100%;
    margin-top: 130px;
    margin-bottom: 0;
    padding: 35px 0px;
    background-color: var(--cor-rodape);
    letter-spacing: 1px;
    font-family: Figtree, "Arial";
    color: white;
}


.direitos {
    text-align: center;
}


/* FALE CONOSCO */
main {
    max-width: 600px;
    margin: 50px auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 60px;
    border: 2px solid #007928;
    border-radius: 8px;
}

h2 {
    padding-top: 0px;
    font-size: 2em;
    letter-spacing: 1px;
    font-family: Oswald, 'Arial';
}

p {
    font-family: Figtree, 'Arial';
    font-size: 18px;
    letter-spacing: 1px;
}

form label {
    display: block;
    margin-top: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Oswald, 'Arial';
}

form input[type="email"],
form textarea {
    font-family: 'Arial';
    font-size: 15px;
    letter-spacing: 1px;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que padding e borda fiquem dentro da largura */
}

form button[type="submit"] {
    margin-top: 40px;
    padding: 10px 17px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    font-family: Oswald, 'Arial';
}

