@import url(cor.css);
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* GERAL */
* {
    font-family: Figtree, 'Arial';
}

body {
    margin: 0 1px;
}

ul {
    list-style-type: none;
}


/*SUMARIO FIXO*/
#indice-lateral {
    position: fixed;
    top: 50px;
    left: 0;
    width: 360px;
    padding: 10px ;
    margin-top: 70px;
    z-index: 1000;
    transition: all 0.7s ease-in-out;
    border: 2px solid var(--cor-padrao-site);
    background-color: var(--cor-fundo-indice);
}

#conteudo-indice {
    padding: 10px;
}

#conteudo-indice ul {
    padding: 0px 25px;
    text-align: center;
}

#conteudo-indice h1 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 40px;
    
}

#conteudo-indice a {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.7;
    color: black;
}

#conteudo-indice a:hover {
    background-color: rgb(173, 173, 173);
    font-style: italic;
}

.indice-fechado {
    /* esconde a maior parte, e deixa o botão a vista */
    transform: translateX(calc(-109% + 35px));
}

#btn-alternar {
    position: absolute;
    top: 0;
    right: -35px;
    width: 35px;
    height: 100%;
    border: none;
    padding: 0;
    font-size: 3em;
    cursor: pointer;
    background-color: var(--cor-btn-indice);
    color: rgb(255, 255, 255);

}


/*MAIN*/
main {
    max-width: 800px;
    margin: auto;
}

main h1 {
    text-align: center;
    letter-spacing: 4px;
    color: var(--cor-titulos);
    font-size: 50px;
}

main h2 {
    font-size: 45px;
    letter-spacing: 3px;
    color: var(--cor-titulos);
    margin: 0px;
    
}

main p {
    
    font-size: 1.3em;
    letter-spacing: 1px;
    line-height: 1.3;
}


/*CORPO MAIN*/
/*introdução*/
.imagem-principal {
    max-width: 100%;
    margin-top: 150px;
}

.p-unico {
    font-size: 17px;
    letter-spacing: 1px;
}


/*os 3 pilares*/
.imagem-pilares {
    display: block;
    width: 60%;
    margin: 20px auto;

}

.lista-pilares {
    padding: 15px 20px;
    margin: 20px 0px;  
}

.lista-pilares li {
    letter-spacing: 1px;
    font-size: 1.2em;
    padding: 9px 0px;
}

.lista-pilares strong {
    color: var(--cor-titulos);
    font-size: 1.2em;
    letter-spacing: 1px;
}


/*ESG na prática*/
.lista-praticas {
    padding: 20px 25px;
    margin: 20px 0px; 
}

.lista-praticas li {
    letter-spacing: 1px;
    font-size: 1.2em;
    padding: 7px 0px;
}

.lista-praticas strong {
    letter-spacing: 1px;
    font-size: 1.2em;
    color: var(--cor-titulos);
}

/*objetivo do esg*/
.container-objetivo {
    max-width: 900px;
    margin: auto;
    padding: 5px 0px;
    line-height: 1.6;
    text-align: justify;
}

.img-objetivo {
    float: right;  /* faz a imagem ir para o canto superior direito. */
    width: 50%; /* ajuste o tamanho conforme quiser */
    margin: 0 0 0px 10px; /* espaço entre imagem e texto */
    
}


/*conclusão*/
.conclusao {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

/*divisor das partes*/
.divisor-padrao {
    border: none;
    border-top: 7px solid var(--cor-linha-divisao);
    width: 100%;
    margin: 35px 0px;
}

.divisor-pilares {
    border: none;
    border-top: 2px solid var(--cor-linha-divisao);
    width: 100%;
    margin: 25px 0px;
}

