@import url(cor.css);
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap'); /*FONTE P*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /*FONTE H**/


/* GERAL */
body {
    margin: 0 1px;
}

/*CABECALHO*/
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100; /* garante que o cabeçalho fique acima do outros elementos*/
    background-color: var(--cor-padrao-site);
    
}


.logo img {
    height: 100px;   
}

/*BOTÕES CABECALHO*/
.home {
    margin: 0 10px;
    padding: 7px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.home:hover {
    background-color: rgb(195, 240, 219);
}

.sobre {
    margin: 0 10px;
    padding: 7px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.sobre:hover {
    background-color: rgb(195, 240, 219);
}

.contato {
    margin: 0 10px;
    padding: 7px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.contato:hover {
    background-color: rgb(195, 240, 219);
}

.btn-cadastro {
    margin-right: 20px;
    margin-left: 10px;
    padding: 7px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.btn-cadastro:hover {
    background-color: rgb(195, 240, 219);
}


/* linha de progresso */
.progresso-container {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--cor-fundo-linha-progresso);
    z-index: 9999;
}

#progressoBarra {
    height: 5px;
    background: var(--cor-progresso-barra);
    width: 0%;
    transition: width 0.1s ease-out;  /* adiciona um movimento, uma transição*/
}


/* footer */
footer {
    width: 100%;
    margin-top: 100px;
    padding: 35px 0px;
    background-color: var(--cor-rodape);
    color: white;
    font-family: Figtree, "Arial";
}

.direitos {
    text-align: center;
}