@import url(cor.css);
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap'); /*FONTE P*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /*FONTE H**/

* {
    margin: 0px;
}

main {
    padding: 100px 20%;
}

/*CABECALHO*/
header {
    justify-content: space-between;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 100; /* garante que o cabeçalho fique acima do outros elementos*/
    background-color: var(--cor-padrao-site);
    
}

.logo {
    display: flex;
}

.logo img {
    height: 100px;   
}

/*BOTÕES CABECALHO*/
.home {
    margin: 0 10px;
    padding: 3px 8px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.home:hover {
    background-color: rgb(195, 240, 219);
}

.sobre {
    margin: 0 10px;
    padding: 3px 8px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.sobre:hover {
    background-color: rgb(195, 240, 219);
}

.contato {
    margin: 0 10px;
    padding: 3px 8px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.contato:hover {
    background-color: rgb(195, 240, 219);
}

.btn-cadastro {
    margin-right: 20px;
    margin-left: 10px;
    padding: 3px 8px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: var(--cor-fundo-botao-cadastro);
    color: var(--cor-botao-titulo);
    font-family: Figtree, "Arial";
}

.btn-cadastro:hover {
    background-color: rgb(195, 240, 219);
}

/* linha de progresso */
.progresso-container {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--cor-fundo-linha-progresso);
    z-index: 9999;
}

#progressoBarra {
    height: 5px;
    background: var(--cor-progresso-barra);
    width: 0%;
    transition: width 0.1s ease-out;  /* adiciona um movimento, uma transição*/
}

/* footer */
footer {
    text-align:right;
    width: 100%;
    margin-top: 120px;
    padding: 35px 0px;
    background-color: var(--cor-rodape);
    color: white;
    font-family: Figtree, "Arial";
}

.direitos {
    text-align: center;
}


/* CADASTRO */
#bloco-cadastro {
    display: inline-block;
    margin-right: 50px;
    padding-left: 75px;
}

#bloco-login {
    display: inline-block;
}
form {
    flex-direction: column;
    background-color: rgba(202, 202, 202, 0.568);
    padding: 10px;
    width: 30em;
    height: 28em;
    margin-top: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(121, 119, 119);
}

h1 {
    padding: 15px;
    text-align: center;
    
}

label {
    margin-top: 20px;
    font-size: 1.5em;
    letter-spacing: 1px;
    padding-left: 10px;
}

input[type="text"],
input[type="email"],
select {
    width: 90%;
    padding: 8px;
    margin: 15px 10px;
    border-radius: 4px;
    border: 1px solid #5a5a5a;
}

input[type="submit"] {    
    width: 90%;
    margin: 25px 17px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 1.3em;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
