@import url(cor.css);


body {
    margin: 2px;
}

/*CABECALHO*/
header {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    background-color: var(--cor-padrao-site);

}

.logo {
    display: flex;
}

.logo img {
    height: 100px;   
}


/*BOTAO CADASTRO*/
.cadastro {
    border-radius: 10px;
    padding: 7px 20px;
    background-color: rgb(252, 252, 252);

}

.cadastro a {
    text-decoration: none;
    color: #013009;
    letter-spacing: 1px;
}

.cadastro:hover {
    background-color: rgb(103, 196, 152);
}


/*SUMARIO*/
.sumario-fixo {
    position: fixed;
    top: 135px;
    width: 270px;
    padding: 12px;
    background-color: white;
    border: 4px solid var(--cor-padrao-site);
    border-radius: 3px;

}

.sumario-fixo h3 {
    font-size: 2.2em;
    margin: 20px 30px;
    text-align: left;
    color: var(--cor-titulos);
}

.sumario-fixo li{
    padding-top: 15px;

}

.sumario-fixo a {
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.sumario-fixo a:hover {
    color: #04991d;
    text-decoration: underline;
}


/*MAIN*/
main {
    max-width: 800px;
    margin: auto;
}

main h1 {
    text-align: center;
    color: var(--cor-titulos);
    font-size: 45px;
}

main h2 {
    font-size: 40px;
    color: var(--cor-titulos);
    margin: 0px;

}

main p {
    font-size: 1.3em;
    letter-spacing: 1px;
    line-height: 1.3;
}


/*CORPO MAIN*/
/*introdução*/
.imagem-principal {
    max-width: 100%;
    margin-top: 13px;
}

.p-unico {
    font-size: 17px;
    letter-spacing: 1px;
}


/*os 3 pilares*/
.imagem-pilares {
    display: block;
    margin: 20px auto;
    width: 60%;
    border: 1px solid var(--cor-linha-divisao);
}

.lista-pilares {
    padding: 20px 25px;
    margin: 20px 0px;  
}

.lista-pilares li {
    letter-spacing: 1px;
    font-size: 1.2em;
    padding: 7px 0px;
}


/*ESG na prática*/
.lista-praticas {
    padding: 20px 25px;
    margin: 20px 0px; 
}

.lista-praticas li {
    letter-spacing: 1px;
    font-size: 1.2em;
    padding: 7px 0px;
}


/*objetivo do esg*/
.container-objetivo {
    max-width: 900px;
    margin: auto;
    padding: 5px 0px;
    line-height: 1.6;
    text-align: justify;
}

.img-objetivo {
    float: right;  /* faz a imagem ir para o canto superior direito. */
    width: 50%; /* ajuste o tamanho conforme quiser */
    margin: 0 0 0px 10px; /* espaço entre imagem e texto */
    
}


/*conclusão*/
.conclusao {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/*divisor das partes*/
.divisor-padrao {
    border: none;
    border-top: 7px solid var(--cor-linha-divisao);
    width: 100%;
    margin: 35px 0px;
}

.divisor-pilares {
    border: none;
    border-top: 2px solid var(--cor-linha-divisao);
    width: 100%;
    margin: 25px 0px;
}


/*RESPONSIVIDADE*/
/*caixas*/
@media (max-width: 768px) {
    .caixas-esg {
        flex-direction: column;
    }
}

/*textos */
@media (max-width: 768px) {
    .container-objetivo {
        flex-direction: column;
        /* Empilha as colunas verticalmente */
        gap: 0;
    }
}

