@import url(cor.css);


body {
    margin: 0 1px;
}

/*CABECALHO*/
header {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: var(--cor-padrao-site);
    justify-content: space-between;
    align-items: center;
    z-index: 100; /* garante que o cabeçalho fique acima do outros elementos*/
    
}

.logo {
    display: flex;
}

.logo img {
    height: 100px;   
}


/*BOTAO CADASTRO*/
.cadastro {
    margin: 0px 20px;
    border-radius: 10px;
    padding: 7px 15px;
    background-color: rgb(252, 252, 252);

}

.cadastro a {
    text-decoration: none;
    color: var(--cor-botao-titulo);
    letter-spacing: 1px;
    font-size: 1em;
}

.cadastro:hover {
    background-color: rgb(103, 196, 152);
}



/* INDICE CABECALHO*/
/* ARRUMAR O BOTAO COLOCANDO A ESQUERDA AO LADO DA LOGO. ARRUMAR OS INDICES QUE ESTÃO UM AO LADO DO OUTRO EM VEZ DE ESTAR EMBAIXO. */
.indice-navegacao ul {
    list-style: none; /*limpa os marcadores de lista ul*/
    display: flex;
    padding: 0;
    margin: 0;
}

.item-indice {
    position: relative;
}

.botao-indice {
    display: block;
    padding: 7px 15px;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(252, 252, 252);
    text-decoration: none;
    color: var(--cor-botao-titulo);
    font-size: 1.2em;
    letter-spacing: 1px;
}

.painel-indice {
    /* Propriedades para esconder o menu */
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    min-width: 250px; 
    background-color: #212121; /* Fundo escuro */
    z-index: 20; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
   
}

.painel-indice li a {
    color: white; 
    padding: 12px 15px;
    display: block;
}

.painel-indice li a:hover {
    background-color: #333;
}

/* REGRA CHAVE SEM JS: MOSTRAR AO PASSAR O MOUSE */
.item-indice:hover > .painel-indice {
    display: block;
}

/* Estilo de destaque do botão quando o menu está aberto */
.item-indice.ativo > .botao-indice {
    background-color: #212121;
    color: white;
}


/*SUMARIO FIXO*/
.sumario-fixo {
    position: fixed;
    top: 135px;
    width: 270px;
    padding: 12px;
    background-color: var(--cor-fundo-sumario);
    border: 4px solid var(--cor-padrao-site);
    border-radius: 3px;

}

.sumario-fixo h3 {
    font-size: 2.2em;
    margin: 20px 30px;
    text-align: left;
    color: var(--cor-titulos);
}

.sumario-fixo li{
    padding-top: 15px;

}

.sumario-fixo a {
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.sumario-fixo a:hover {
    color: #04991d;
    text-decoration: underline;
}




/*MAIN*/
main {
    max-width: 800px;
    margin: auto;
}

main h1 {
    text-align: center;
    color: var(--cor-titulos);
    font-size: 45px;
}

main h2 {
    font-size: 40px;
    color: var(--cor-titulos);
    margin: 0px;

}

main p {
    font-size: 1.3em;
    letter-spacing: 1px;
    line-height: 1.3;
}


/*CORPO MAIN*/
/*introdução*/
.imagem-principal {
    max-width: 100%;
    margin-top: 50px;
}

.p-unico {
    font-size: 17px;
    letter-spacing: 1px;
}


/*os 3 pilares*/
.imagem-pilares {
    display: block;
    margin: 20px auto;
    width: 60%;
    border: 1px solid var(--cor-linha-divisao);
}

.lista-pilares {
    padding: 20px 25px;
    margin: 20px 0px;  
}

.lista-pilares li {
    letter-spacing: 1px;
    font-size: 1.2em;
    padding: 7px 0px;
}

.lista-pilares strong {
    color: var(--cor-titulos);
}

/*ESG na prática*/
.lista-praticas {
    padding: 20px 25px;
    margin: 20px 0px; 
}

.lista-praticas li {
    letter-spacing: 1px;
    font-size: 1.2em;
    padding: 7px 0px;
}

.lista-praticas strong {
    color: var(--cor-titulos);
}

/*objetivo do esg*/
.container-objetivo {
    max-width: 900px;
    margin: auto;
    padding: 5px 0px;
    line-height: 1.6;
    text-align: justify;
}

.img-objetivo {
    float: right;  /* faz a imagem ir para o canto superior direito. */
    width: 50%; /* ajuste o tamanho conforme quiser */
    margin: 0 0 0px 10px; /* espaço entre imagem e texto */
    
}


/*conclusão*/
.conclusao {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/*divisor das partes*/
.divisor-padrao {
    border: none;
    border-top: 7px solid var(--cor-linha-divisao);
    width: 100%;
    margin: 35px 0px;
}

.divisor-pilares {
    border: none;
    border-top: 2px solid var(--cor-linha-divisao);
    width: 100%;
    margin: 25px 0px;
}

/* linha de progresso */
.progresso-container {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 5px;
    background: grey;
    z-index: 9999;
}

#progressoBarra {
    height: 5px;
    background: #04991d;
    width: 0%;
    transition: width 0.1s ease-out;  /* adiciona um movimento, uma transição*/
}


/* footer */
footer {
    text-align:right;
    width: 100%;
    margin-top: 100px;
    padding: 35px 0px;
    background-color: var(--cor-padrao-site);
    color: white;
}

.botao-sobre > button {
    margin: 0 15px;
    padding: 6px 6px;
    border-radius: 8px;
    border: white;
}

.botao-sobre a {
    text-decoration: none;
    color: white;
}

.botao-sobre 
.direitos{
    padding: 30px;
}

/*  
.cadastro {
    margin: 0px 20px;
    border-radius: 10px;
    padding: 7px 15px;
    background-color: rgb(252, 252, 252);

}

.cadastro a {
    text-decoration: none;
    color: var(--cor-botao-titulo);
    letter-spacing: 1px;
    font-size: 1.2em;
}

.cadastro:hover {
    background-color: rgb(103, 196, 152);
}
*/